body {
    background-color: #e5c0ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
    background-color: #e5c0ff;
    display: flex;
    justify-content: end;
    margin-bottom: 75px;
    ul {
        background-color: #e5c0ff;
        padding: 10PX;
        margin: 10px;
        border-radius: 10px;
        a{
            text-decoration: none;
            color: white;
        }
    }
    ul:hover {
        transform: scale(1.1);
        background-color:#ee47fd80;
        transition: .3s ease;
        box-shadow: 0 4px 4px #ee47fd80;
    }
}
.image {
    display: flex;
    justify-content: center;
    img {
        border-radius: 50%;
        box-shadow: 3px 3px 10px 2px;
    }
}
.profile-container {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    .profile {
        p {
            text-align: center;
        }
    }
}
.details-box {
    background-color: #e5c0ff; 
    max-width: 600px; 
    padding: 20px;
    border-radius: 25px; 
    margin: 50px auto; 
    p{
       text-align: center; 
    }
}

footer {
    background-color: #ee47fd80;
    padding: 40px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ul {
        a {
            color: white;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
.about-container {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 100px;
    .item1 {
        background-color: #e5c0ff;
        margin-bottom: 20px;
        padding: 20px;
        width: 500px;
        border-radius: 40px;
        box-shadow: 4px 4px 4px #ee47fd80;
        h1 {
            text-align: center;
            margin-bottom: 100px;
            background-color: #e5c0ff;
            margin: 50px;
            border-radius: 20px;
            color: white;
            box-shadow: 0 4px 4px #ee47fd80
    }
}
    .item2 {
        background-color: #e5c0ff;
        margin-bottom: 20px;
        padding: 20px;
        max-width: 500px;
        border-radius: 40px;
        box-shadow: 4px 4px 4px #ee47fd80;
        h1 {
            text-align: center;
            margin-bottom: 100px;
            background-color: #e5c0ff;
            margin: 50px;
            border-radius: 20px;
            color: white;
            box-shadow: 0 4px 4px #ee47fd80;
        }
    }
}
.education-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    .item1 {
        background-color: #e5c0ff;
        margin-bottom: 20px;
        padding: 20px;
        max-width: 500px;
        border-radius: 40px;
        box-shadow: 4px 4px 4px #ee47fd80;
        h1 {
            text-align: center;
            margin-bottom: 100px;
            background-color: #e5c0ff;
            margin: 50px;
            border-radius: 20px;
            color: white;
            box-shadow: 0 4px 4px #ee47fd80;
        }
    }
}
.award-container {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    .item1 {
        background-color: #e5c0ff;
        margin-bottom: 20px;
        padding: 20px;
        max-width: 500px;
        border-radius: 40px;
        box-shadow: 4px 4px 4px #ee47fd80;
        h1 {
            text-align: center;
            font-size: 28px;
            margin-bottom: 100px;
            background-color: #e5c0ff;
            margin: 50px;
            border-radius: 20px;
            color: white;
            box-shadow: 0 4px 4px #ee47fd80;
        }
    }
}
.hobbies-container {
    display: flex;
    justify-content: center;
    margin-bottom: 175px;
    .item1 {
        background-color: #e5c0ff;
        margin-bottom: 20px;
        padding: 20px;
        max-width: 500px;
        border-radius: 40px;
        box-shadow: 4px 4px 4px #ee47fd80;
        h1 {
            text-align: center;
            margin-bottom: 100px;
            background-color: #e5c0ff;
            margin: 50px;
            border-radius: 20px;
            color: white;
            box-shadow: 0 4px 4px #ee47fd80;
        }
    }
}
.work-container {
    display: flex;
    justify-content: center;
    margin-bottom: 240px;
    .item1 {
        background-color: #e5c0ff;
        margin-bottom: 20px;
        padding: 20px;
        max-width: 500px;
        border-radius: 40px;
        box-shadow: 4px 4px 4px #ee47fd80;
        h1 {
            text-align: center;
            margin-bottom: 100px;
            background-color: #e5c0ff;
            margin: 50px;
            border-radius: 20px;
            color: white;
            box-shadow: 0 4px 4px #ee47fd80;
        }
    }
}
.project-container {
    display: flex;
    justify-content: center;
    margin-bottom: 240px;
    .item1 {
        background-color: #e5c0ff;
        margin-bottom: 20px;
        padding: 20px;
        max-width: 500px;
        border-radius: 40px;
        box-shadow: 4px 4px 4px #ee47fd80;
        h1 {
            text-align: center;
            margin-bottom: 100px;
            background-color: #e5c0ff;
            margin: 50px;
            border-radius: 20px;
            color: white;
            box-shadow: 0 4px 4px #ee47fd80;
        }
    }
}

.award-picture {
    width: 60px;  
    height: 60px;
    object-fit: cover;
}
